.git/
.github/

.idea/
.vscode/

local-scripts/

docker/

wp-content/vendor/

**/.env.*

**/.dockerignore
**/.editorconfig
**/.gitignore

compose.yaml
compose.*.yaml
docker-bake.hcl

LICENSE
README.md
