.idea/
.vscode/

wp-content/vendor/

.env.*
auth.example.json

**/.dockerignore
**/.editorconfig
**/.gitignore

docker/
docker-compose.yaml
Dockerfile

.github/
LICENSE
README.md

scripts/

.flox/
.devbox/
devbox.d/
devbox.json
devbox.lock
